body {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  border-top: 1px solid rgb(198, 205, 198);
  -webkit-box-sizing: border-box;
}
.selected {
  background-color: #4A90E2;
}
ul li:first-child {
  border-top: none;
}
ul li:first-child:hover {
  opacity: 1.0;
  cursor: default;
}
li a {
  font-family: 'Lato', sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
a:link {
  color: white;
}
a:visted {
  color: white;
}
li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.big-nav-text {
  margin:0px;
  font-size:20px;
}

.small-nav-text {
  margin:0px;
  font-size: 14px;
}

#logo {
  height: 70%;
}

#navigation {
  height: 100%;
  background-color: #191b1c;
  display: table-cell;
  min-width: 140px;
}
#container {
  width: 100%;
  height: 100%;
  display: table;
}
#content {
  display: table-cell;
  width: auto;
  height: 100%;
  vertical-align:top;

}
#top {
  background:   url("main.png")no-repeat;
    background-size: cover;
    background-position: bottom;
  position: relative;

  width: auto;
  height: 60%;
  border-bottom: 10px solid #191b1c;
}
#bottom {
  background-color: rgb(217, 222, 26);
  width: auto;
  height: 40%;
}
#bottom-left {
  background-color: rgb(40, 168, 58);
  float: left;
  width: 50%;
  height: 100%;
}
#bottom-right {
  background-color: rgb(40, 53, 168);
  width: 50%;
  float: right;
  height: 100%;
}
