<div class="top top--about">
<div class="top__bio">
  <h1 class="top__text top__text--about" style="font-size:36px;">PAUL VAN GIFFEN</h1>
  <div class="top__divider top__divider--about"></div>
  <img class="top__image" src="../images/paul.png"/>
  <p class="top__content">Paul Van Giffen is an artist who works with metal and gems. He started making jewelry in 1990 and is excited about expanding his buisness with Real Sports Pearls. He made the first necklace for his girlfriend for Christmas (red and green rondeles) and had so many requests for the same necklace he ended up making 9 necklaces as gifts that same Christmas.</p>

</div>
<div class="top__bio">
  <h1 class="top__text top__text--about" style="font-size:36px;">JO SCOTT</h1>
  <div class="top__divider top__divider--about"></div>
  <img class="top__image" src="../images/jo.png"/>
  <p class="top__content">Jo Scott saw Paul's pearl necklaces and asked Paul to teach him how to make them. He has been giving them as gifts to the women in his family with such great reactions (he has become very popular) that he saw an opportunity for a business. He is an avid football fan and saw a chance for fans to support their favorite teams - even at non-sporting events.</p>

</div>
</div>
