<div ng-switch="isLoading">

  <p ng-switch-when="true" style="color:white;font-size:4.8rem">

    Your images are being loaded... {{ percentLoaded }}%

  </p>
  <div ng-switch-when="false">
    <div id="customize-top">
      <div ng-style="{'background-image': getImage(chosenLeft)}" class="necklace-image"></div>
      <div ng-style="{'background-image': getImage(chosenRight)}" class="necklace-image"></div>


    </div>
    <div id=extra style="display:none;"></div>
    <!-- <div  ng-repeat="chk in radioRight">
      <input type="radio" id="UNIQUELABEL{{$id}}_1" style="display: none;" name="right" ng-model="$parent.chosenRight" ng-value="chk.val" />
      <label for="UNIQUELABEL{{$id}}_1">
        <div class="rondeles" ng-style="{'background-position': getSpriteStyle($index)}"></div>
      </label>

    </div> -->
    <div id="bottom--custom" style="width: 100%; background-color:#CECECE; ">
      <div ng-repeat="chk in radioLeft" class="colorChoice" style="float:left;  background-color:#CECECE;" ng-style="getLabelWidth()">
        <input type="checkbox" style="display: none;" ng-model="chk.checked" name="UNIQUELABEL{{$id}}_1" id="UNIQUELABEL{{$id}}_1" ng-click="updateSelection($index, radioLeft)" />
        <label for="UNIQUELABEL{{$id}}_1">
          <div>
            <div class="rondeles" onclick="" ng-style="{'background-image': getSpriteStyle($index)}"></div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).resize(function() {
    var div = $('#navigation');

    var mq2 = window.matchMedia("(max-width: 620px)");
    var mq3 = window.matchMedia("(max-device-width: 620px)");

    var newWidth = window.innerHeight / 5
    div.css('width', newWidth);
    var content = $('#content');
    if (document.body.scrollHeight > document.body.clientHeight) {
      content.css('width', window.innerWidth - 15 - newWidth);
    } else {
      content.css('width', window.innerWidth - newWidth);

    }

    if (mq2.matches || mq3.matches) {

      if (document.body.scrollHeight > document.body.clientHeight) {
        content.css('width', window.innerWidth - 15 );
      } else {
        content.css('width', window.innerWidth);

      }
    }
  });
  $(document).ready(function() {
    var mq = window.matchMedia( "(max-width: 800px)" );
    var mq4 = window.matchMedia( "(max-device-width: 800px)" );
    var mq2 = window.matchMedia("(max-width: 620px)");
    var mq3 = window.matchMedia("(max-device-width: 620px)");
    var div = $('#navigation');
    var newWidth = window.innerHeight / 5
    div.css('width', newWidth);
    var content = $('#content');
    $('#bottom').css('height', newWidth * 2 - 10);
    if (document.body.scrollHeight > document.body.clientHeight && !(mq.matches || mq4.matches)) {
      content.css('width', window.innerWidth - 15 - newWidth);
    } else {
      content.css('width', window.innerWidth - newWidth);

    }
    if (mq2.matches || mq3.matches) {
      if (document.body.scrollHeight > document.body.clientHeight) {
        content.css('width', window.innerWidth);
      } else {
        content.css('width', window.innerWidth);

      }
    }
  });
</script>
