<div ng-switch="isLoading">

  <p ng-switch-when="true" style="color:white;font-size:4.8rem">

    Your images are being loaded... {{ percentLoaded }}%

  </p>
  <div ng-switch-when="false">
    <div class="top top--customize">
      <div class="top__necklaceimage" ng-style="{'background-image': getImage(chosenLeft)}"></div>
      <div class="top__necklaceimage" ng-style="{'background-image': getImage(chosenRight)}"></div>
      <div class="top__overlay top__overlay--customize">
        <p class="top__text">FIND YOUR<br>PERFECT PAIR</p>
        <div class="top__divider top__divider--customize"></div>
        <p class="top__text top__text--small ">Choose two colors<br>below to get started</p>
      </div>
      <button class="top__buybtn" disabled="true">BUY IT NOW</button>
    </div>
    <div class="bottom bottom--custom">
      <div ng-repeat="chk in radioLeft" class="bottom__colors" style="float:left;  background-color:#CECECE;" ng-style="getLabelWidth()">
        <input class="bottom__rondelechk" type="checkbox" ng-model="chk.checked" id="UNIQUELABEL{{$id}}_1" ng-click="updateSelection($index, radioLeft)" />
        <label class="bottom__rondelelbl" for="UNIQUELABEL{{$id}}_1">
          <div class="bottom__rondelectr">
            <div class="bottom__rondeleimg" onclick="" ng-style="{'background-image': getSpriteStyle($index)}"></div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).resize(function() {
    var div = $('.nav--main');

    var mq2 = window.matchMedia("(max-width: 620px)");
    var mq3 = window.matchMedia("(max-device-width: 620px)");

    var newWidth = window.innerHeight / 5
    div.css('width', newWidth);
    var content = $('#content');
    if (document.body.scrollHeight > document.body.clientHeight) {
      content.css('width', window.innerWidth - 15 - newWidth);
    } else {
      content.css('width', window.innerWidth - newWidth);

    }

    if (mq2.matches || mq3.matches) {

      if (document.body.scrollHeight > document.body.clientHeight) {
        content.css('width', window.innerWidth - 15);
      } else {
        content.css('width', window.innerWidth);

      }
    }
  });
  $(document).ready(function() {
    var mq = window.matchMedia("(max-width: 800px)");
    var mq4 = window.matchMedia("(max-device-width: 800px)");
    var mq2 = window.matchMedia("(max-width: 620px)");
    var mq3 = window.matchMedia("(max-device-width: 620px)");
    var div = $('.nav--main');
    var newWidth = window.innerHeight / 5
    div.css('width', newWidth);
    var content = $('#content');
    $('#bottom').css('height', newWidth * 2);
    if (document.body.scrollHeight > document.body.clientHeight && !(mq.matches || mq4.matches)) {
      content.css('width', window.innerWidth - 15 - newWidth);
    } else {
      content.css('width', window.innerWidth - newWidth);

    }
    if (mq2.matches || mq3.matches) {
      if (document.body.scrollHeight > document.body.clientHeight) {
        content.css('width', window.innerWidth);
      } else {
        content.css('width', window.innerWidth);

      }
    }
  });
</script>
