<div id="top">
  <div class="image-overlay-right">
    <p style="font-size:3.6rem; font-family: 'Lato', sans-serif; margin: 0px 8px 30px 8px;">RISUS INCEPTOS PHARETRA MAGASS</p>
    <div style="width:100px; height: 5px; background-color: black;margin-right: 278px;"></div>
    <p style="font-size:3.1rem; font-family: 'Lato', sans-serif; margin: 30px 8px 30px 8px;">Total synergy between power, comfort and design.</p>
    <button class="customize"  ng-click="goCustom()">CUSTOMIZE YOUR NECKLACE</button>
  </div>
</div>
<div id="bottom">
  <div id="bottom-left"><div id="overlay-div"><p class="overlay-text-big">OVER 30 COLORS</p><p class="overlay-text-small">TO CHOOSE FROM</p></div></div>
  <div id="bottom-right"></div>
</div>
<script>
$('.modal').hide();

$(window).resize(function(){
  var div = $('#navigation');
  var mq2 = window.matchMedia("(max-width: 620px)");
  var mq3 = window.matchMedia("(max-device-width: 620px)");

  var newWidth = window.innerHeight / 5
  div.css('width', newWidth);
  var content = $('#content');
  content.css('width', window.innerWidth - newWidth );
 if (mq2.matches || mq3.matches){

  content.css('width', window.innerWidth);
}
});
  $(document).ready(function() {
    var mq = window.matchMedia( "(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)" );
    var mq2 = window.matchMedia("(max-width: 620px)");
    var mq3 = window.matchMedia("(max-device-width: 620px)");
    var div = $('#navigation');
    var newWidth = window.innerHeight / 5
    div.css('width', newWidth);
    var content = $('#content');
    $('#bottom').css('height',  newWidth * 2 - 10);
    if (mq.matches) {
      content.css('width', window.innerWidth - newWidth );
    } else if (mq2.matches || mq3.matches){

      content.css('width', window.innerWidth);

    }else {
      content.css('width', window.innerWidth - newWidth );
    }
  });



  function clickButton(event) {
    $('#navigation li a').each(function(){
      $(this).removeClass('selected');
    });
    $(this).addClass('selected');
  }
  function clickMobileButton(event) {
    $('#mobile-nav li a').each(function(){
      $(this).removeClass('selected');
    });
    $(this).addClass('selected');
    $(this).parent().parent().parent().slideUp().siblings('div').slideDown();
  }
  $('.nav-link').click(clickButton);
  $('.nav-link-mobile').click(clickMobileButton);
</script>
