<div id="top">
  <div class="image-overlay-right">
    <p style="font-size:36px; font-family: 'Lato', sans-serif; margin: 8px;">RISUS INCEPTOS PHARETRA MAGASS</p>
    <div style="width:100px; height: 5px; background-color: black; margin-right: 285px;"></div>
    <p style="font-size:31px; font-family: 'Lato', sans-serif; margin: 8px;">Total synergy between power, comfort and design.</p>
    <button id="customize">CUSTOMIZE YOUR NECKLACE</button>
  </div>
</div>
<div id="bottom">
  <div id="bottom-left"><div id="overlay-div"><p class="overlay-text-big">OVER 30 COLORS</p><p class="overlay-text-small">TO CHOOSE FROM</p></div></div>
  <div id="bottom-right"></div>
</div>
